@model List<CloudSpaceRequest>

@{
    ViewData["title"] = "Space Requests";
}


<table class="table table-striped text-center">
    <thead>
        <tr class="sticky-top table-primary border-primary border-3">
            <td colspan="5">
                <div class="d-flex w-100 justify-content-around">
                    <button class="btn btn-success" onclick="submitForm('/Admin/FulfilSpaceRequest')"><img src="/utilities/check-lg.svg" width=" 20" height="20" class="rounded align-middle" /></button>
                    <button class="btn btn-danger" onclick="submitForm('/Admin/DeleteSpaceRequest')"><img src="/utilities/x-lg.svg" width=" 20" height="20" class="rounded align-middle" /></button>
                </div>
            </td>
        </tr>
        <tr class="align-middle">
            <th>Requester</th>
            <th>Requested Space</th>
            <th>Request Time</th>
            <th>Request Justification</th>
            <th class="text-primary">Select</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>@item.User?.UserName</td>
                <td>@CloudSizeManager.ConvertToReadableSize((double)item.SpaceRequest)</td>
                <td>@item.RequestDate.ToString("yyyy'-'MM'-'dd '['HH':'mm':'ss']'") UTC</td>
                <td class="text-start text-break">@item.RequestJustification</td>
                <td>
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input bg-primary" id="@($"{item.Id}")" name="ids" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="containerForm" method="POST" class="hidden">
</form>

@section Scripts {
    <script type="text/javascript">
        function submitForm(requestPath) {

            const form = document.getElementById("containerForm");

            form.action = requestPath;

            $(":checked").map((index, element) => {

                const input = document.createElement("input");
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'ids');
                input.setAttribute('value', element.id);

                form.appendChild(input);

                form.submit();
            });
        }
    </script>
}