@model EditorViewModel

@{
    ViewData["Title"] = "Code Editor";
}

<div class="d-flex justify-content-end mb-2 background-color w-100 rounded">
    <div class="btn-group">
        <div class="spinner-border text-secondary hidden" role="status" id="usersavespinner">
            <span class="visually-hidden">Loading...</span>
        </div>
        <button type="button" class="btn" id="usersavebtn" onclick="UserSave('@Model.FilePath',window.editor.getValue(),'@Url.Action("SaveData", "Editor")')"><img src="/utilities/save.svg" /></button>
    </div>
</div>

<div class="d-flex w-100 justify-content-end">
    <div class="spinner-border spinner-border-sm text-secondary hidden" role="status" id="autosavespinner">
        <span class="visually-hidden">Loading...</span>
    </div>
    <span class="text-muted fs-6 fst-italic" id="statustext">Not saved yet</span>
</div>

<div class="border border-primary border-3 w-100 h-100 rounded">
    <div class="w-100 bg-primary"></div>
    <div id="codeeditor" class="editor-class"></div>
</div>

<link rel="stylesheet"
      data-name="vs/editor/editor.main"
      href="~/monaco-editor/min/vs/editor/editor.main.css" />

<script>
    var require = { paths: { vs: '/lib/monaco-editor/min/vs' } };
</script>

<script src="~/monaco-editor/min/vs/loader.min.js"></script>
<script src="~/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
<script src="~/monaco-editor/min/vs/editor/editor.main.min.js"></script>

@Html.AntiForgeryToken()

@section Scripts {
    <script type="text/javascript">
        window.editor = monaco.editor.create(document.getElementById('codeeditor'), {
            value: "@(Model.Content != String.Empty ? Model.Content : "//write your code here")",
            theme: "hc-black",
            language: "javascript",
            automaticLayout: true,
        });
    </script>

    <script type="text/javascript" src="/js/editor.js"></script>

    <script type="text/javascript">
        setTimeout(async () => await PeriodicSave("@Model.FilePath", window.editor.getValue(), "@Url.Action("SaveData", "Editor")"), TIMEOUTMS);
    </script>
}