@model DashBoardViewModel

@{
    ViewData["Title"] = "DashBoard";
}
<div>
    <h1>Available Space</h1>
    <div>@(User.Identity?.Name ?? "Unassigned")</div>
</div>
<div class="mt-2">
    <h1>Recent Folders</h1>
    <div></div>
</div>
<div class="mt-2">
    <h1>Recent Files</h1>
    <div></div>
</div>
<div class="mt-2">
    <h1>Shared Folders</h1>
    <div class="list-group" id="sharedfolders">
        @foreach (var folderUrl in Model.SharedFolderUrls)
        {
            string? url = Url.Action(Model.WebControllerAndActionForDetails.Second, Model.WebControllerAndActionForDetails.First, new { path = HashManager.EncryptString(folderUrl) }, Context.Request.Scheme);
            string path = folderUrl.Replace(System.IO.Path.DirectorySeparatorChar, Constants.PathSeparator);

            <div class="my-1">
                <ul class="list-group list-group-horizontal text-center fw-bold">
                    <li class="list-group-item list-group-item-action text-dark">@path.Slice(Constants.PrivateRootName.Length, Constants.PrivateRootName.Length + Constants.GuidLength + 1)</li>
                </ul>
                <div class="list-group list-group-horizontal">
                    <button type="button" class="btn btn-secondary" onclick="copyToClipBoard('@(@url)')"><img src="/utilities/link.svg" width=" 20" height="20" class="item rounded align-center"></button>
                    <a href="@url" class="list-group-item list-group-item-action text-primary text-center" target="_blank">Link to shared directory</a>
                    <form asp-action="DisConnectDirectoryFromWebDashboard" asp-controller="Drive">
                        <input type="hidden" value="@path" name="folder" />
                        <button type="submit" class="btn btn-danger"><img src="/utilities/nopublic.svg" width=" 20" height="20" class="item rounded align-center"></button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<div class="mt-2">
    <h1>Shared Files</h1>
    <div class="list-group " id="sharedfiles">
        @foreach (var fileUrl in Model.SharedFileUrls)
        {
            string? url = Url.Action(Model.WebControllerAndActionForDownload.Second, Model.WebControllerAndActionForDownload.First, new { path = HashManager.EncryptString(fileUrl) }, Context.Request.Scheme);
            string path = fileUrl.Replace(System.IO.Path.DirectorySeparatorChar, Constants.PathSeparator);

            <div class="my-1">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-action text-dark">@path.Slice(Constants.PrivateRootName.Length, Constants.PrivateRootName.Length + Constants.GuidLength + 1)</li>
                </ul>
                <div class="list-group list-group-horizontal">
                    <button type="button" class="btn btn-secondary" onclick="copyToClipBoard('@(url)')"><img src="/utilities/link.svg" width=" 20" height="20" class="item rounded align-center"></button>
                    <a href="@url" class="list-group-item list-group-item-action text-primary text-center" target="_blank">Link to shared file</a>
                    <form asp-action="DisConnectFileFromWebDashboard" asp-controller="Drive">
                        <input type="hidden" value="@path" name="file" />
                        <button type="submit" class="btn btn-danger"><img src="/utilities/nopublic.svg" width=" 20" height="20" class="item rounded align-center"></button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@Html.AntiForgeryToken()
