@model SharingDetailsViewModel

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CloudFolder? item in Model.Folders)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        <details>
                            <summary>
                                <span id="iconforitemtype">
                                    <img src="@item.IconPath" width="20" height="20" class="item align-bottom">
                                </span>
                                <a asp-action="Details" asp-route-folderName="@(item.Info is not null ? item.Info.Name : item.SharedName)" class="itemlink">@(item.Info is not null ? item.Info.Name : item.SharedName)</a>
                            </summary>
                            @if (Model.Owner)
                            {
                                <div class="d-flex justify-content-end">
                                    <div class="btn-group me-2 my-3" role="group">
                                        <a class="btn btn-primary" asp-controller="Sharing" asp-action="DisconnectDirectoryFromApp" asp-route-id="@item.SharedName"><img src="~/utilities/noshare.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a>
                                    </div>
                                </div>
                            }
                        </details>
                    </td>
                </tr>
            }
        }
        @foreach (CloudFile? item in Model.Files)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        <details>
                            <summary>
                                <span id="iconforitemtype">
                                    <img src="@item.IconPath" width="20" height="20" class="item align-bottom">
                                </span>
                                <span class="itemlink">@(item.Info is not null ? item.Info.Name : item.SharedName)</span>
                            </summary>
                            @if (Model.Owner)
                            {
                                <div class="d-flex justify-content-end">
                                    <div class="btn-group me-2 my-3" role="group">
                                        <a class="btn btn-primay" asp-controller="Sharing" asp-action="DisconnectFileFromApp" asp-route-id="@item.SharedName"><img src="~/utilities/noshare.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a>
                                    </div>
                                </div>
                            }
                        </details>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>