@model SharingDetailsViewModel

@{
    int counter = 0;
}

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody id="shareditems">
        @foreach (CloudFolder? item in Model.Folders)
        {
            if (item != null)
            {
                <tr id="@(++counter)">
                    <td>
                        @if (item.Info is not null)
                        {
                            <details>
                                <summary>
                                    <span id="iconforitemtype">
                                        <img src="@item.IconPath" width="20" height="20" class="item align-bottom">
                                    </span>
                                    <a asp-action="Details" asp-route-folderName="@item.Info!.Name" class="itemlink">@item.Info.Name</a>
                                    <small class="text-muted text-truncate me-2">(@item.ItemPath)</small>
                                </summary>
                                <fieldset class="border border-dark p-2 m-2 rounded">
                                <legend class="w-100 background-color rounded ps-3 py-2 h3">Details</legend>
                                    <table class="table table-striped rounded">
                                        <tr>
                                            <td>
                                                Created Time
                                            </td>
                                            <td>
                                                @item.Info.CreationTime
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Last Modified Time
                                            </td>
                                            <td>
                                                @item.Info.LastWriteTime
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Shared in @Constants.AppName
                                            </td>
                                            <td>
                                                @if (item.IsConnectedToApp)
                                                {
                                                    <span>✔</span>
                                                }
                                                else
                                                {
                                                    <span>❌</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Public
                                            </td>
                                            <td>
                                                @if (item.IsConnectedToWeb)
                                                {
                                                    <span>✔</span>
                                                }
                                                else
                                                {
                                                    <span>❌</span>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                                <div class="d-flex justify-content-end">
                                    <div class="btn-group me-2 my-3" role="group">
                                        <a asp-controller="Sharing" class="btn btn-primary" asp-action="DownloadFolder" asp-route-folderName="@item.Info.Name"><img src="~/utilities/cloud-download.svg" width=" 20" height="20" class="rounded align-middle" download /></a>
                                        @if (Model.Owner)
                                        {
                                            <button type="button" class="btn btn-primary"  onclick="disConnectItemFromAppSharing('@Url.Action("DisconnectDirectoryFromApp", "Sharing")','@item.Info.Name', '@counter', 'shareditems','@Url.Action("Details","Sharing")')">
                                                <img src="~/utilities/noshare.svg" width=" 20" height="20" class="rounded-circle align-middle" id="@(counter)_btnImage" />
                                                <div class="spinner-border spinner-border-sm text-dark hidden mx-1" role="status" id="@(counter)_btnSpinner">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </details>
                        }
                        else
                        {
                            <div>
                                <span id="iconforitemtype">
                                    <img src="@item.IconPath" width="20" height="20" class="item align-bottom">
                                </span>
                                <a asp-action="Details" asp-route-folderName="@item.SharedName" class="itemlink">@item.SharedName</a>
                            </div>
                        }
                    </td>
                </tr>
            }
        }
        @foreach (CloudFile? item in Model.Files)
        {
            if (item != null)
            {
                <tr id="@(++counter)">
                    <td>
                        @if (item.Info is not null)
                        {
                            <details>
                                <summary>
                                    <span id="iconforitemtype">
                                        <img src="@item.IconPath" width="20" height="20" class="item align-bottom">
                                    </span>
                                    <span class="itemlink">@item.Info.Name</span>
                                    <small class="text-muted text-truncate me-2">(@item.ItemPath)</small>
                                </summary>
                                <fieldset class="border border-dark p-2 m-2 rounded">
                                <legend class="w-100 background-color rounded ps-3 py-2 h3">Details</legend>
                                <table class="table table-striped rounded">
                                    <tr>
                                        <td>
                                            Created Time
                                        </td>
                                        <td>
                                            @item.Info.CreationTime
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Last Modified Time
                                        </td>
                                        <td>
                                            @item.Info.LastWriteTime
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Size
                                        </td>
                                        <td>
                                            @CloudSizeManager.ConvertToReadableSize(item.Info.Length)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Shared in @Constants.AppName
                                        </td>
                                        <td>
                                            @if (item.IsConnectedToApp)
                                            {
                                                <span>✔</span>
                                            }
                                            else
                                            {
                                                <span>❌</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Public
                                        </td>
                                        <td>
                                            @if (item.IsConnectedToWeb)
                                            {
                                                <span>✔</span>
                                            }
                                            else
                                            {
                                                <span>❌</span>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                                <div class="d-flex justify-content-end">
                                    <div class="btn-group me-2 my-3" role="group">
                                        <a asp-controller="Sharing" class="btn btn-primary" asp-action="DownloadFile" asp-route-fileName="@item.Info.Name"><img src="~/utilities/cloud-download.svg" width=" 20" height="20" class="rounded align-middle" download /></a>
                                        @if (Model.Owner)
                                        {
                                            <button type="button" class="btn btn-primary"  onclick="disConnectItemFromAppSharing('@Url.Action("DisconnectFileFromApp", "Sharing")','@item.Info.Name', '@counter', 'shareditems','@Url.Action("Details","Sharing")')">
                                                <img src="~/utilities/noshare.svg" width=" 20" height="20" class="rounded-circle align-middle" id="@(counter)_btnImage" />
                                                <div class="spinner-border spinner-border-sm text-dark hidden mx-1" role="status" id="@(counter)_btnSpinner">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </details>
                        }
                        else
                        {
                            <div>
                                <span id="iconforitemtype">
                                    <img src="@item.IconPath" width="20" height="20" class="item align-bottom">
                                </span>
                                <a asp-action="Details" asp-route-folderName="@item.SharedName" class="itemlink">@item.SharedName</a>
                            </div>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.AntiForgeryToken()

@if(Model.Files?.Count == 0 && Model.Folders?.Count == 0)
{
    <span class="w-100 d-flex justify-content-center text-muted fst-italic">No shared items</span>
}