@model DriveDeleteViewModel

@{
    int i = 0;
}

<div class="d-flex justify-content-between w-100 bg-danger rounded">
    <a asp-action="Details" asp-controller="Drive" class="btn btn-primary"><img src="~/utilities/arrow-left-circle.svg" width=" 20" height="20" class="rounded align-middle" /></a>
    <span class="btn"><img src="~/utilities/trash.svg" width=" 20" height="20" class="rounded align-middle" /></span>
</div>

<form asp-action="DeleteItems">
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ItemsForDelete?.Count > 0)
            {
                <tr>
                    <td>
                        <div class="d-flex-inline align-middle">
                            <div class="input-group">
                                <span class="btn btn-outline-danger" id="selectAll"><img src="~/utilities/check.svg" width=" 20" height="20" class="rounded align-middle" /></span>
                                <span class="btn btn-outline-danger" id="deselectAll"><img src="~/utilities/ban.svg" width=" 20" height="20" class="rounded align-middle" /></span>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            @foreach (CloudFolder? item in Model.Folders)
            {
                if (item != null)
                {
                    <tr>
                        <td>
                            <div class="d-flex-inline">
                                <input type="checkbox" asp-for="ItemsForDelete![i]" class="form-check-input" value="@($"{Constants.SelectedFolderStarterSymbol}{item.Info.Name}")" />
                                <span id="iconforitemtype ms-2">
                                    <img src="@item.IconPath" width=" 20" height="20" class="item rounded align-bottom">
                                </span>
                                <label class="form-check-label ms-2">@item.Info.Name</label>
                            </div>
                        </td>
                    </tr>
                }
                i++;
            }
            @foreach (CloudFile? item in Model.Files)
            {
                if (item != null)
                {
                    <tr>
                        <td>
                            <div class="d-flex-inline">
                                <input type="checkbox" asp-for="ItemsForDelete![i]" class="form-check-input" value="@($"{Constants.SelectedFileStarterSymbol}{item.Info.Name}")" />
                                <span id="iconforitemtype ms-2">
                                    <img src="@item.IconPath" width=" 20" height="20" class="item rounded align-bottom">
                                </span>
                                <label class="form-check-label ms-2">@item.Info.Name</label>
                            </div>
                        </td>
                    </tr>
                }
                i++;
            }
        </tbody>
    </table>

    <div class="d-flex w-100 justify-content-center">
        <button type="button" class="btn btn-outline-danger border border-danger border-3" id="modalLaunchBtn"><img src="~/utilities/trash.svg" width=" 20" height="20" class="rounded align-middle" /></button>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-dark">
                    <h5 class="modal-title" id="deleteModalLabel">Delete items</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete these items?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-danger" id="deleteBtn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    document.getElementById("modalLaunchBtn").addEventListener("click", LaunchModal, false);

    function LaunchModal() {
        var modal = new bootstrap.Modal(document.getElementById('deleteModal'));

        modal.show();
    }
</script>

<script type="text/javascript">
    function StartFunction() {
        document.getElementById("selectAll").addEventListener("click", SelectAll, false)
        document.getElementById("deselectAll").addEventListener("click", DeselectAll, false)
        document.getElementById("deleteBtn").addEventListener("click", CallDeselect, false)
    }

    function CallDeselect(e) {
        setTimeout(DeselectAll, 1);
    }

    function SelectAll() {
        const checkboxes = document.getElementsByTagName("input");
        for (let e of checkboxes) {
            if (!e.checked) {
                e.checked = true;
            }
        }
    }

    function DeselectAll() {
        let checkboxes = document.getElementsByTagName("input");
        for (let e of checkboxes) {
            if (e.checked) {
                e.checked = false;
            }
        }
    }

    StartFunction();
</script>