@model DriveDetailsViewModel

@{
    ViewData["Title"] = "My Files";
}

<div>
    <form asp-action="Details" class="input-group mb-3" id="pathform">
        <div class="input-group">
            <input type="text" class="form-control" name="filterString" id="currentPath" value="@ViewBag.CurrentPath" />
            <button type="submit" value="" class="btn btn-primary" form="pathform"><img src="~/utilities/arrow-right-circle.svg" width=" 20" height="20" class="rounded-circle align-middle" /></button>
        </div>
    </form>
    <div class="d-flex justify-content-between">
        <div class="">
            <button type="button" class="btn btn-primary"><a asp-controller="Drive" asp-action="Back"><img src="~/utilities/arrow-left-circle.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
        </div>
        <div class="">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary"><a asp-controller="Drive" asp-action="Details" asp-route-currentPath="@Model.CurrentPath"><img src="~/utilities/arrow-repeat.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
                <button type="button" class="btn btn-secondary"><img src="~/utilities/cloud-download.svg" width=" 20" height="20" class="rounded-circle align-middle" /></button>
                <button type="button" class="btn btn-secondary"><a asp-controller="Drive" asp-action="UploadToCurrentFolder"><img src="~/utilities/cloud-upload.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
                <button type="button" class="btn btn-secondary" id="addFolderBtn"><img src="~/utilities/folder-plus.svg" width=" 20" height="20" class="rounded align-middle" /></button>
                <button type="button" class="btn btn-secondary"><a asp-controller="Drive" asp-action="OpenTerminal"><img src="~/utilities/terminal.svg" width=" 20" height="20" class="align-middle" /></a></button>
                <button type="button" class="btn btn-danger"><a asp-controller="Drive" asp-action="DeleteFromCurrentFolder"><img src="~/utilities/trash.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
            </div>
        </div>
    </div>
</div>

<div class="w-100">
    <fieldset class="border border-4 border-dark p-2 m-2 rounded hiddenfield" id="addFolderField">
        <legend class="btn btn-outline-primary rounded-pill w-auto">Add Folder</legend>
        <div class="d-flex justify-content-center w-100">
            <form asp-action="AddNewFolder" class="w-100">
                <div class="w-100 d-inline-flex input-group form-group">
                    <input type="text" name="folderName" placeholder="Write new Folder name here..." class="d-inline form-control" />
                    <button type="submit" class="btn btn-primary d-inline"><img src="~/utilities/folder-plus.svg" width=" 20" height="20" class="rounded-circle align-middle" /></button>
                </div>
            </form>
        </div>
    </fieldset>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CloudFolder? item in Model.Folders)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        <details>
                            <summary>
                                <span id="iconforitemtype">
                                    <img src="@item.IconPath" width=" 20" height="20" class="item rounded align-bottom">
                                </span>
                                <a asp-action="Details" asp-route-folderName="@item.Info.Name" class="itemlink">@item.Info!.Name</a>
                            </summary>
                            <fieldset class="border border-dark p-2 m-2 rounded">
                                <legend class="btn btn-outline-primary rounded-pill w-auto">Details</legend>
                                <table class="table table-striped rounded">
                                    <tr>
                                        <td>
                                            Created Time
                                        </td>
                                        <td>
                                            @item.Info.CreationTime
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Public
                                        </td>
                                        <td>
                                            @if (false)
                                            {
                                                <span>✔</span>
                                            }
                                            else
                                            {
                                                <span>❌</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Last Accessed Time
                                        </td>
                                        <td>
                                            @item.Info.LastAccessTime
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Created By
                                        </td>
                                        <td>
                                            @User.Identity!.Name
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <div class="d-flex justify-content-end">
                                <div class="btn-group mx-2" role="group">
                                    <button type="button" class="btn btn-primary"><a asp-controller="Drive" asp-action="PubliciseFolder" asp-route-id="@item.Info"><img src="~/utilities/globe.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
                                    <button type="button" class="btn btn-secondary"><a asp-controller="Drive" asp-action="Settings" asp-route-id="@item.Info"><img src="~/utilities/gear.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
                                    <button type="button" class="btn btn-danger"><a asp-controller="Drive" asp-action="DeleteFolder" asp-route-folderName="@item.Info.Name"><img src="~/utilities/trash.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
                                </div>
                            </div>
                        </details>
                    </td>
                </tr>
            }
        }
        @foreach (CloudFile? item in Model.Files)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        <details>
                            <summary>
                                <span id="iconforitemtype">
                                    <img src="@item.IconPath" width=" 20" height="20" class="item rounded align-bottom">
                                </span>
                                <span class="itemlink">@item.Info!.Name</span>
                            </summary>
                            <fieldset class="border border-dark p-2 m-2 rounded">
                                <legend class="btn btn-outline-primary rounded-pill w-auto">Details</legend>
                                <table class="table table-striped rounded">
                                    <tr>
                                        <td>
                                            Size
                                        </td>
                                        <td>
                                            @item.Info.Length Bytes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Created Time
                                        </td>
                                        <td>
                                            @item.Info.CreationTime
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Public
                                        </td>
                                        <td>
                                            @if (false)
                                            {
                                                <span>✔</span>
                                            }
                                            else
                                            {
                                                <span>❌</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Last Accessed Time
                                        </td>
                                        <td>
                                            @item.Info.LastAccessTime
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Created By
                                        </td>
                                        <td>
                                            @User.Identity!.Name
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <div class="d-flex justify-content-end">
                                <div class="btn-group mx-2" role="group">
                                    <button type="button" class="btn btn-primary"><a asp-controller="Drive" asp-action="PubliciseFolder" asp-route-id="@item.Info"><img src="~/utilities/globe.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
                                    <button type="button" class="btn btn-secondary"><a asp-controller="Drive" asp-action="Settings" asp-route-id="@item.Info"><img src="~/utilities/gear.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
                                    <button type="button" class="btn btn-danger"><a asp-controller="Drive" asp-action="Delete" asp-route-id="@item.Info"><img src="~/utilities/trash.svg" width=" 20" height="20" class="rounded-circle align-middle" /></a></button>
                                </div>
                            </div>
                        </details>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    window.onload = init;

    function init() {
        document.getElementById("addFolderBtn").addEventListener("click", AddFolderClicked, false);
    }

    function AddFolderClicked(e) {
        document.getElementById("addFolderField").classList.toggle("hiddenfield");
    }
</script>