@model DriveDetailsViewModel

<div>
    <form asp-action="Details" class="input-group mb-3">
        <input type="text" class="form-control" name="filterString" id="filterString" />
        <input type="number" class="visually-hidden" name="id" id="id" value="1" />
        <div class="input-group-append">
            <input type="submit" value="🔎" class="btn btn-primary" />
        </div>
    </form>
</div>

<h1>My Files</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CloudRegistration? item in Model.items)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        <details>
                            <summary>
                                <span id="iconforitemtype">
                                    @if (item.Type == EntryType.FOLDER)
                                    {
                                        <img src="@item.IconPath" class="item" >
                                    }
                                    else
                                    {
                                        <img src="@item.IconPath" class="item rounded mx-auto d-block" id="image" />
                                    }
                                </span>
                                <a asp-action="Details" asp-route-parentId="@item.Id" class="itemlink">@item.Name</a>
                            </summary>
                            <fieldset class="border border-dark p-2 m-2">
                                <legend class="btn btn-outline-primary rounded-pill w-auto">Details</legend>
                                <table class="table table-striped rounded">
                                    <tr>
                                        <td>
                                            Size
                                        </td>
                                        <td>
                                            @item.GetSize()
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Public
                                        </td>
                                        <td>
                                            @if (item.IsVisibleForEveryOne)
                                            {
                                                <span>✔</span>
                                            }
                                            else
                                            {
                                                <span>❌</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Created Time
                                        </td>
                                        <td>
                                            @item.CreatedDate
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Created By
                                        </td>
                                        <td>
                                            @item.CreatedBy.FullName
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <div class="btn-group ms-2" role="group">
                                <button type="button" class="btn btn-danger"><a asp-controller="Drive" asp-action="Delete" asp-route-id="@item.Id"><img src="~/utilities/trash.svg"/></a></button>
                                <button type="button" class="btn btn-secondary"><a asp-controller="Drive" asp-action="Settings" asp-route-id="@item.Id"><img src="~/utilities/gear.svg" /></a></button>
                                <button type="button" class="btn btn-primary"><a asp-controller="Drive" asp-action="PubliciseFolder" asp-route-id="@item.Id"><img src="~/utilities/globe.svg" /></a></button>
                            </div>
                        </details>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>