@model FileSettingsViewModel

@{
    ViewData["Title"] = "File Settings";
}

<div class="d-flex justify-content-between w-100 bg-primary rounded mb-3">
    <a asp-action="Details" asp-controller="Drive" class="btn btn-primary"><img src="~/utilities/arrow-left-circle.svg" width=" 20" height="20" class="rounded align-middle" /></a>
    <span class="btn"><img src="~/utilities/gear.svg" width=" 20" height="20" class="rounded align-middle" /></span>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border border-primary border-4 rounded p-5">
        <div class="col-12 w-100 text-center">
            <h3 class="fw-bold">@String.Join(Constants.PathSeparator, Model.Path, Model.OldName)</h3>
        </div>
        <div class="col-12">
            <form asp-action="FileSettings">
                <input type="hidden" asp-for="Path" class="form-control" />
                <input type="hidden" asp-for="OldName" class="form-control" />
                <input type="hidden" asp-for="Extension" class="form-control" />
                <div class="form-group">
                    <label asp-for="NewName"></label>
                    <div class="input-group">
                        <input asp-for="NewName" class="form-control" />
                        <span class="input-group-text">@Model.Extension</span>
                    </div>
                </div>
                <div class="form-check my-3">
                    <input class="form-check-input" asp-for="ConnectedToApp" class="form-check" />
                    <label class="form-check-label" asp-for="ConnectedToApp"></label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="ConnectedToWeb" class="form-check" />
                    <label class="form-check-lable" asp-for="ConnectedToWeb"></label>
                </div>
                <div class="d-flex w-100 mt-3">
                    <table class="table table-striped rounded">
                        <tr>
                            <td class="ps-3">
                                Created By
                            </td>
                            <td>
                                @User.Identity?.Name
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                Created Time
                            </td>
                            <td>
                                @Model.Info!.CreationTime
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                Last Modified Time
                            </td>
                            <td>
                                @Model.Info.LastWriteTime
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-3">
                                Size
                            </td>
                            <td>
                                @CloudSizeManager.ConvertToReadableSize(Model.Info.Length)
                            </td>
                        </tr>
                        </table>
                </div>
                <div class="d-flex w-100 justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <div class="d-flex w-100 justify-content-center input-group mt-4">
                <a asp-controller="Drive" class="btn btn-primary" asp-action="DownloadFolder" asp-route-folderName="@Model.OldName"><img src="~/utilities/cloud-download.svg" width=" 20" height="20" class="rounded align-middle" download /></a>
                <button type="button" class="btn btn-secondary" onclick="copyItemToCloudClipBoard('@Url.Action("CopyFileToCloudClipboard","Drive")','@Model?.Info?.Name')"><img src="~/utilities/copy.svg" width=" 20" height="20" class="align-middle" /></button>
                <button type="button" class="btn btn-danger border border-danger border-3" id="modalLaunchBtn"><img src="~/utilities/trash.svg" width=" 20" height="20" class="rounded align-middle" /></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fileDeleteModal" tabindex="-1" aria-labelledby="fileDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-dark">
                <h5 class="modal-title" id="fileDeleteModalLabel">Delete file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this file?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <a asp-controller="Drive" class="btn btn-outline-danger" asp-action="DeleteFile" asp-route-fileName="@Model?.OldName">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        document.getElementById("modalLaunchBtn").addEventListener("click", LaunchModal, false);

        function LaunchModal() {
            var modal = new bootstrap.Modal(document.getElementById('fileDeleteModal'));

            modal.show();
        }
    </script>
}